<div class="d-flex justify-content-between mb-3">
    <div class="input-group">
        <span class="p-input-icon-left p-input-icon-right">
            <i class="pi pi-search"></i>
                <i class="pi pi-times" (click)="clearSearch()"></i>
            <input type="text" pInputText placeholder="Search" (change)="searchFilterChange()" [(ngModel)]="search">
        </span>
    </div>
    <div class="input-group">
        <!-- <p-multiSelect [options]="projects" [(ngModel)]="selectedProjects" optionLabel="name" optionValue="id" display="chip" (onChange)="projectsFilterChange($event)"></p-multiSelect> -->
        <span class="input-group-text" id="projects">Filter by project</span>
        <p-dropdown [className]="['right-side-menu']" [options]="projects" [(ngModel)]="selectedProject" [showClear]="true" optionLabel="name" optionValue="id" placeholder="Select a Project" (onChange)="projectFilterChange($event)"></p-dropdown>
    </div>
    <div>
        <button type="button" (click)="addNewIssue()" class="btn btn-primary">Add new issue</button>
    </div>
</div>

