.open-header-color {
    color: grey;
}

.in-progress-header-color {
    color: #00A69D;
}

.ready-for-testing-header-color {
    color: #F6941F;
}

.testing-header-color {
    color: #cd4c82;
}

.done-header-color {
    color: #1C75BC;
}