.open-header-color {
    color: grey;
}

.in-progress-header-color {
    color: blue;
}

.ready-for-testing-header-color {
    color: lightgreen;
}

.testing-header-color {
    color: darkblue;
}

.done-header-color {
    color: green;
}