<p-card [classList]="'p-1'">
    <div *ngIf="!editMode">
        {{comment.text}}
    </div>

    <div *ngIf="editMode">
        <form [formGroup]="comForm">
            <mdb-form-control class="mb-3">
                <textarea mdbInput formControlName="text" class="form-control" autocomplete="off" rows="3" [(ngModel)]="comment.text"></textarea>
                <label mdbLabel class="form-label">Edit comment</label>
            </mdb-form-control>
        </form>
        
    </div>

    <ng-template pTemplate="footer">
        <div>
            <button class="btn btn-primary mx-1" (click)="toggleMode()">{{editMode ? 'Save' : 'Edit'}}</button>
            <button class="btn btn-danger mx-1">Delete</button>
        </div>
    </ng-template>
</p-card>