html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-bgc {
  background-color: #58717b;
  padding-right: 2em;
}

ul {
  list-style: none;
  display: flex;
  gap: 45px;
}

li {
  position: relative;
  display: inline-block;
}

li::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}

li:hover::before {
  scale: 1;
}

li.link-active::before { 
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  scale: 1;
}