<filter (projectChange)="filterIssues($event)" (searchChange)="search($event)"></filter>


<div class="container">
    <!-- <div class="d-flex justify-content-md-around"> -->
    <div class="d-flex justify-content-around align-self-stretch">
        <app-column [header]="'Open'" [issues]="openIssues"></app-column>
        <app-column [header]="'In Progress'" [issues]="progressIssues"></app-column>
        <app-column [header]="'Ready for testing'" [issues]="readyTestingIssues"></app-column>
        <app-column [header]="'Testing'" [issues]="TestingIssues"></app-column>
        <app-column [header]="'Done'" [issues]="doneIssues"></app-column>
    </div>
</div>