input	 {
    max-width: 15em;
    min-width: 15em;
    height: 2.2em;
    margin: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #FAFBFC !important;
    border-color: #BDBDBD;
  }