<div class="container">
    <div class="row">
      <div class="col-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Projects</a></li>
                <li class="breadcrumb-item"><a href="#">Project_name</a></li>
                <li class="breadcrumb-item active" aria-current="page">Issue</li>
            </ol>
        </nav>
        
        <div class="container">
            <form>
                <div class="input-group mb-3">
                    <span class="input-group-text">Subject</span>
                    <textarea class="form-control" placeholder="Subject" aria-label="Subject"></textarea>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text">Credentials for user</span>
                    <input type="text" placeholder="Username" aria-label="Username" class="form-control">
                    <input type="text" placeholder="Password" aria-label="Password" class="form-control">
                  </div>
        
                  <div class="input-group mb-3">
                    <span class="input-group-text">Steps to reproduce</span>
                    <textarea class="form-control" placeholder="Steps to reproduce" aria-label="Steps to reproduce"></textarea>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text">Actual result</span>
                    <textarea class="form-control" placeholder="Actual result" aria-label="Actual result"></textarea>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text">Expected result</span>
                    <textarea class="form-control" placeholder="Expected result" aria-label="Expected result"></textarea>
                  </div>

                  <hr class="hr hr-blurry" />
        
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Environment</span>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose environment</option>
                        <option value="Development">Development</option>
                        <option value="Staging">Staging</option>
                        <option value="Production">Production</option>
                      </select>
                  </div>
        
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Version</span>
                    <input type="text" class="form-control" placeholder="Version" aria-label="Version" aria-describedby="basic-addon1">
                  </div>
        
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Browser</span>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose your browser</option>
                        <option value="Chrome">Chrome</option>
                        <option value="Safari">Safari</option>
                        <option value="Opera">Opera</option>
                        <option value="Firefox">Firefox</option>
                        <option value="Edge">Edge</option>
                      </select>
                  </div>
        
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Device</span>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Choose your device</option>
                        <option value="PC/Laptop">PC / Laptop</option>
                        <option value="MacBook">MacBook</option>
                        <option value="Android phone">Android phone</option>
                        <option value="iPhone">iPhone</option>
                        <option value="Android tablet">Android tablet</option>
                        <option value="iPad">iPad</option>
                        <option value="Windows phone">Windows phone</option>
                      </select>
                  </div>
            </form>
        </div>
      </div>
      <div class="col-4">col-4</div>
    </div>
  </div>
