<div class="d-flex align-items-center justify-content-between">
    <filter></filter>

    <button type="button" class="btn btn-primary">Add new issue</button>
</div>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th class="col-3">Key</th>
            <th>Subject</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let is of issues">
            <th class="col-3" (click)="edit(is)">{{is.key}}</th>
            <th>{{is.subject}}</th>
            <th class="col-3">{{is.status}}</th>
        </tr>
    </tbody>
</table>