<form [formGroup]="projectForm">
    <div class="d-flex col-12">
        <div class="col-9">
            <mdb-form-control class="mb-3">
                <input [(ngModel)]="project.name" mdbInput class="form-control"
                    autocomplete="off" formControlName="name" (change)="generateAbbv()">
                <label mdbLabel class="form-label" for="textAreaExample">Title</label>
            </mdb-form-control>
    
            <mdb-form-control class="mb-3">
                <input type="text" [(ngModel)]="project.abbreviation" mdbInput class="form-control"
                    id="subject" autocomplete="off" maxlength="4" formControlName="abbv"/>
                <label mdbLabel class="form-label" for="textAreaExample">Abbreviation</label>
            </mdb-form-control>
        </div>
    
        <div class="container">
            <div class="d-flex justify-content-around">
                <button class="btn btn-primary" [disabled]="projectForm.invalid" (click)="save()">Save</button>
                <button class="btn btn-primary" [disabled]="projectForm.invalid" type="reset">Clear</button>
                <button class="btn btn-primary" [routerLink]="['/projects']">Cancel</button>
            </div>
        </div>
        <p-toast key="saved"></p-toast>
    </div>
    
    <mdb-form-control class="mb-3">
        <textarea [(ngModel)]="project.description" mdbInput class="form-control" autocomplete="off"
            rows="3" appTextareaAutoresize formControlName="description"></textarea>
        <label mdbLabel class="form-label" for="textAreaExample">Description</label>
    </mdb-form-control>
</form>