.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/1322726/screenshots/5695684/media/4c81c1ad46bf515c32dbad27b87a2f50.gif);
    height: 25em;
    background-position: center;
    background-repeat: no-repeat;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #7d9098;
    margin: 20px 0;
    display: inline-block;
}