<div class="d-flex align-items-center justify-content-end mb-4">
    <button (click)="addProject()" type="button" class="btn btn-primary">Add new project</button>
</div>
<table class="table align-middle mb-0 table-hover table-striped">
    <thead class="table-light">
        <tr class="table-primary">
            <th class="col-1">Abbreviation</th>
            <th class="col-2">Title</th>
            <th>Description</th>
            <th class="col-1">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pr of projects">
            <th>{{pr.abbreviation}}</th>
            <th>{{pr.name}}</th>
            <th>{{pr.description}}</th>
            <th>
                <a (click)="editProject(pr.id)" style="color: darkgreen;"><i class="pi pi-pencil"></i></a>
                <span style="font-size: large;"> | </span>
                <!-- <a (click)="callDeletePopUp(pr.id)" style="color: red;"><i class="pi pi-times"></i></a> -->
                <a (click)="showConfirm(pr.id)" style="color: red;"><i class="pi pi-times"></i></a>
            </th>
        </tr>
    </tbody>
</table>


<delete-confirm-dialog [okMessage]="'Project deleted'" [rejectMessage]="'Rejected'" (confirmation)="deleteProject($event)" [key]="'project'"></delete-confirm-dialog>