<div class="d-flex align-items-center justify-content-end">
    <button (click)="addProject()" type="button" class="btn btn-primary">Add new project</button>
</div>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Abbreviation</th>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pr of projects">
            <th>{{pr.name}}</th>
            <th>{{pr.abbreviation}}</th>
            <th>{{pr.description}}</th>
            <th>
                <a (click)="editProject(pr.id)">Edit</a>
                <span> | </span>
                <a (click)="deleteProject(pr.id)">Delete</a>
            </th>
        </tr>
    </tbody>
</table>