<p-toast position="bottom-center" key="{{key}}" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="text-center">
                <button type="button" pButton (click)="onConfirm(message.data)" label="Yes" class="p-button-success confirm"></button>
                <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary confirm"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast key="msgs"></p-toast>