a {
  color: #33525e;
}

.btn-primary {
  color: #fff;
  background-color: #7d9098 !important;
  border-color: #7d9098;
}

.bg-primary {
  background-color: #7d9098 !important;
}

.btn-outline-primary {
  color: #7d9098 !important;
  border-color: #7d9098 !important;
}

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';

body {
  background-color: #FAFBFC;
  padding-top: 3em;
}

.text-write {
  writing-mode: vertical-lr;
  justify-content: center;
}

.input-group-text {
  background-color: #7d9098 !important;
  color: #FAFBFC !important;
  height: 2em;
  min-width: 10em;
}

#username,
#password,
#version {
  min-width: 19.6em;
  height: 2.2em;
  margin: 0;
}

textarea {
  resize: none;
  overflow: hidden;
  max-height: 20em;
}

.p-dropdown {
  min-width: 39.5em;
  height: 2.2em;
  margin: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #FAFBFC !important;
  border-color: #BDBDBD;
}

.p-inputtext {
  padding: 0.2em;
}

.p-dropdown-label {
  margin-left: 0.5em;
}

.p-button-text {
  height: 2.5em;
  width: 7em;
}

.p-button-label {
  padding-left: 0.5em;
}

.p-button-rounded {
  height: 0.4em !important;
}

.bug-border-card-color {
  border-color: #FFCD2A;
}

.task-border-card-color {
  border-color: #13AD5C;
}

.story-border-card-color {
  border-color: #9746FF;
}

.bug-border-card-color,
.task-border-card-color,
.story-border-card-color {
  border-radius: 10px;
  border-style: solid;
}

.bug-card-color {
  background-color: #FFCD2A;
}

.task-card-color {
  background-color: #13AD5C;
}

.story-card-color {
  background-color: #9746FF;
}

.bug-card-color,
.task-card-color,
.story-card-color {
  color: white;
  font-weight: bold;
}

.right-side-menu {
  .p-dropdown {
    max-width: 15em;
    min-width: 15em;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

.p-dropdown {
  ::-webkit-scrollbar {
    width: 6px;
  }
}

general-chat {
  ::-webkit-scrollbar {
    width: 10px;
  }
  mdb-form-control {
    width: 35em;
  }
}

::-webkit-scrollbar-track {
  background: #7d909848;
}

::-webkit-scrollbar-thumb {
  background: #33525e98;
}

a {
  cursor: pointer;
}

comment-card {
  .p-card {
    background-color: #7d90981f;
  }

  .p-card-body {
    padding: 0 !important;
  }
}

.p-badge {
  background-color: #33525e !important;
  color: white !important;
}

account-page {
  .p-highlight {
    background: #7d9098 !important;
    border-color: #7d9098 !important;
    color: #ffffff;
  }

  .p-ripple {
    height: 2em;
  }
}