<div>
    <mdb-form-control class="mb-3">
        <textarea mdbInput class="form-control" autocomplete="off" rows="3" [(ngModel)]="comment.text"></textarea>
        <label mdbLabel class="form-label">Place comment here</label>
    </mdb-form-control>

    <span class="d-flex justify-content-start">
        <button (click)="addNew()" class="btn btn-primary mb-3"><i class="pi pi-comment"></i></button>
    </span>
</div>

<div>
    <comment-card *ngFor="let i of comments" [comment]="i" (editComment)="editComment($event)"></comment-card>
</div>