<div>
    <mdb-form-control class="mb-3">
        <textarea mdbInput class="form-control" autocomplete="off" rows="3" [(ngModel)]="comment.text"></textarea>
        <label mdbLabel class="form-label">Place comment here</label>
    </mdb-form-control>

    <span class="d-flex">
        <button (click)="addNew()" class="btn btn-primary mx-1"><i class="pi pi-comment"></i></button>
        <button class="btn btn-primary mx-1"><i class="pi pi-times"></i></button>
    </span>
</div>

<div>
    <comment-card *ngFor="let i of comments" [comment]="i" (editComment)="editComment($event)" (deleteComment)="delete($event)"></comment-card>
</div>